body {
    background-color: #fbfbfb;
}

#ProductView{
    margin-left: 18%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    cursor: pointer;
}

.col-1{
    margin-left: -50px;
    margin-top: 150px;
}

.list-group-item{
    cursor: pointer;
}

#allCat{
    cursor: pointer;
}

#prodDes{
    text-align:justify;
}

#clickNav{
    cursor: pointer;
}